<table class="table table-fixed-header">
  <thead class='header'>
  <tr>
    <th>Time</th>
    <th>MDs</th>
    <th>Work Rate
      <span data-toggle="tooltip" title="Half-hourly average physician workrate" class="shrink">
        <span class="glyphicon glyphicon-question-sign"></span>
      </span>
    </th>
    <th>Visitors</th>
    <th>Seen</th>
    <th>Queue</th>
    <th>Turbo</th>
    <th>Slack</th>
    <th>Penalty</th>
  </tr>
  </thead>
  <tbody>
  <% size = @grade.visits[@date_s].size %>
  <% start = @grade.open_times[@date.wday] %>
  <% analysis = @grade.analysis(@date) %>
  <% (0...size).each do |i| -%>
    <tr>
      <td><%= (start + (i / 2.0)).to_time_of_day %></td>
      <td><%= @grade.coverages[@date_s][i] %></td>
      <td><%= (@grade.breakdowns[@date_s]['seen'][i] / @grade.coverages[@date_s][i]).round(2) %></td>
      <td><%= @grade.visits[@date_s][i].round(2) %></td>
      <td><%= @grade.breakdowns[@date_s]['seen'][i].round(2) %></td>
      <td class='people'><%= @grade.breakdowns[@date_s]['queue'][i].round(2) %></td>
      <td class='people'><%= @grade.breakdowns[@date_s]['turbo'][i].round(2) %></td>
      <td class='people'><%= @grade.breakdowns[@date_s]['slack'][i].round(2) %></td>
      <td class='dollar'><%= @grade.breakdowns[@date_s]['penalties'][i].round(2) %></td>
    </tr>
  <% end -%>
    <tr class="lead">
      <td>Total</td>
      <td><%= analysis.totals[:coverage] %></td>
      <td><%= analysis.stats[:work_rate].round(2) %>
        <span data-toggle="tooltip" title="Hourly average physician workrate" class="shrink">
          <span class="glyphicon glyphicon-question-sign"></span>
        </span>
      </td>
      <td><%= analysis.totals[:visits].round(2) %></td>
      <td><%= analysis.totals[:seen].round(2) %></td>
      <td><%= analysis.totals[:queue].round(2) %></td>
      <td><%= analysis.totals[:turbo].round(2) %></td>
      <td><%= analysis.totals[:slack].round(2) %></td>
      <td>$<%= analysis.totals[:penalty].round(2) %></td>
    </tr>
  </tbody>
</table>
