<table class="table">
  <thead>
  <tr>
    <th>Time</th>
    <th>MDs</th>
    <th>Work Rate</th>
    <th>Visits</th>
    <th>Seen</th>
    <th>Queue</th>
    <th>Turbo</th>
    <th>Slack</th>
    <th>Penalty</th>
  </tr>
  </thead>
  <tbody>
  <% size = @location_plan.visits[@date_s].size %>
  <% start = @location_plan.location.open_times[@date.wday] %>
  <% (0...size).each do |i| -%>
    <tr>
      <td><%= (start + (i / 2.0)).to_time_of_day %></td>
      <td><%= @grade.coverages[@date_s][i] %></td>
      <td><%= (@grade.breakdowns[@date_s]['seen'][i] / @grade.coverages[@date_s][i]).round(2) %></td>
      <td><%= @location_plan.visits[@date_s][i].round(2) %></td>
      <td><%= @grade.breakdowns[@date_s]['seen'][i].round(2) %></td>
      <td><%= @grade.breakdowns[@date_s]['queue'][i].round(2) %></td>
      <td><%= @grade.breakdowns[@date_s]['turbo'][i].round(2) %></td>
      <td><%= @grade.breakdowns[@date_s]['slack'][i].round(2) %></td>
      <td><%= @grade.breakdowns[@date_s]['penalties'][i].round(2) %></td>
    </tr>
  <% end -%>
  </tbody>
</table>
