<%= render 'analysis_line_without_hours' %>

<%#= render 'location_plans/header' %>

<div class="location_plan_container">

  <div class="row">
    <div class="col-md-3">
      <%= render 'daygrid' %>
    </div>

    <div class="col-sm-9">
      <div id="highcharts-container" style="width: 100%; height: 400px; margin: 0 auto"></div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 hidden" id="coverage_view_load">
      <img src="<%= image_path('load.gif') %>" alt="Loading">
    </div>
    <div id="coverage_view">
      <%= render 'grades/day_detail' %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 hidden" id="coverage_hourly_load">
      <img src="<%= image_path('load.gif') %>" alt="Loading">
    </div>

    <div id="coverage_hourly"></div>
  </div>
</div>
