<br>
<div class="pull-right">
  <%= link_to new_push_path(schedule_id: @schedule.to_param), class: 'btn btn-success' do %>
    New Push
    <span class="glyphicon glyphicon-chevron-right"></span>
  <% end %>
</div>

<h1>Pushes from Schedule (<%= schedule_date_span(@schedule) %>) <small> <%= @schedule.state.to_s.humanize %></small></h1>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-2"></div>
      <div class="col-sm-2 bg-success text-center"><b>Creates</b></div>
      <div class="col-sm-2 bg-warning text-center"><b>Updates</b></div>
      <div class="col-sm-2 bg-danger text-center"><b>Deletes</b></div>
      <div class="col-sm-2 bg-info text-center"><b>No Changes</b></div>
    </div>
  </div>
</div>

<% @pushes.group_by(&:group_id).each do |group, pushes| -%>
  <div class="panel panel-default">
    <div class="panel-heading">
      Push initiated at <%=l pushes.first.created_at %>
    </div>
    <div class="panel-body">
      <% pushes.each do |push| -%>
        <div class="row">
          <div class="col-sm-2"><%= link_to push.location_plan.name, push %></div>
          <div class="col-sm-2"><%= push.state.humanize %></div>
          <div class="col-sm-2"><%= push.creates.length %></div>
          <div class="col-sm-2"><%= push.updates.length %></div>
          <div class="col-sm-2"><%= push.deletes.length %></div>
          <div class="col-sm-2"><%= push.no_changes.length %></div>
        </div>
      <% end -%>
    </div>
  </div>
<% end -%>

<%= paginate @pushes %>
