<%provide(:title, "New Push from Schedule (#{schedule_date_span(@schedule)})")%>

<h1>Select locations to push to When I Work</h1>

<%= form_tag confirm_pushes_path, method: :get, html: {class: 'form-horizontal'} do %>
  <% @zones.each do |zone| %>
    <fieldset>
      <legend>
        <%= zone.name %>
        <small><a href="#" class="select-all">All</a> | <a href="#" class="select-none">None</a></small>
      </legend>

      <ul>
        <% @location_plans[zone.id].each do |location_plan| -%>
          <li>
            <%= check_box_tag 'location_plan_ids[]', location_plan.id %> <%= location_plan.name %>
          </li>
        <% end -%>
      </ul>
    </fieldset>
  <% end -%>

  <%= hidden_field_tag :schedule_id, @schedule.id %>

  <div class="form-actions">
    <%= submit_tag 'Review push', class: 'btn btn-success' %>
  </div>
<% end %>
