
<%provide(:title, "Edit Position")%>

<h1>Editing Position</h1>

<%= simple_form_for(@position, html: { class: 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors @position %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-sm-4">
        <%= f.input :name, :readonly => true %>

        <%= f.input :hourly_rate, required: true do  %>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <%= f.input_field :hourly_rate, step: 5, class: "form-control" %>
          <span class="input-group-addon">.00</span>
        </div>
        <% end %>

        <%= f.input :wiw_id, label: "When I Work ID", collection: Wiw::Position.find_all_collection %>

      </div>
    </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

</br>
<%= link_to 'Back', positions_path %>