<h1>Line Workers</h1>

<h3><%= @location_plan.name %></h3>

<ul class="nav nav-tabs" role="tablist">
  <% Shift::LINE_WORKERS.each do |k, v| -%>
    <li><a href="#<%= k %>" role="tab" data-toggle="tab"><%= v %></a></li>
  <% end -%>
</ul>

<div class="tab-content">
  <% Shift::LINE_WORKERS.each do |k, v| -%>
    <% next if k == :manager %>
    <% rule = @location_plan.send("#{k}_policy") %>

    <div class="tab-pane" id="<%= k %>">
      <table class="table">
        <tr>
          <th>Doctor shift - Rule: <%= rule.to_s.humanize %></th>
        </tr>
        <% @location_plan.chosen_grade.shifts.send(k).each do |shift| -%>
          <tr>
            <td><%= time_span shift.starts_at, shift.ends_at %></td>
          </tr>
        <% end -%>
      </table>
    </div>
    <% end -%>
</div>

