<div class="authform">
  <h3>Edit <%= @user.name || @user.email %></h3>
  <%= simple_form_for(@user, html: { class: 'form-horizontal' }) do |f| %>
    <%= f.error_notification %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :role %>
      <%= f.select :role, User.roles.keys.to_a, class: 'form-control' %>
    </div>

    <%= f.submit 'Update', :class => 'button right' %>
  <% end %>
</div>
