<%provide(:title, 'Edit User')%>

<div class="authform">
  <h3>Edit <%= @user.name || @user.email %></h3>
  <%= simple_form_for(@user, html: { class: 'form-horizontal' }) do |f| %>
    <%= f.error_notification %>

    <%= f.input :name, :autofocus => true, class: 'form-control' %>

    <%= f.input :email, class: 'form-control' %>

    <%= f.input :role, collection: [['Manager', 'manager'],['RM', 'rm'], ['Admin', 'admin']], include_blank: false, class: 'form-control' %>

    <% Zone.ordered.assigned.each do |zone| -%>
      <fieldset>
        <label><%= zone.name %></label>
        <%= f.association :locations, label: false, collection: zone.locations.ordered, as: :check_boxes, wrapper: :vertical_radio_and_checkboxes %>
        <div class="pull-right">
          <a href="#" class="select-all">All</a> | <a href="#" class="select-none">None</a>
        </div>
      </fieldset>

    <% end -%>

    <%= f.submit 'Update', :class => 'button right' %>
    <%= link_to 'Back', users_path %>
  <% end %>
</div>
