<%= simple_form_for(@schedule, html: { class: 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors @schedule %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-sm-4">
        <%= f.input :starts_on, required: true,
                    input_html: { data: {behaviour: "monthpicker"}},
                    as: :string %>

        <% Schedule::OPTIMIZER_FIELDS.each do |field| %>
          <%= f.input field, required: true %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
