<%= simple_form_for(@schedule, html: { class: 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors @schedule %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-sm-4">
        <%= f.input :starts_on, required: true,
                    input_html: { data: {behaviour: "monthpicker"}},
                    as: :string %>

          <%= f.input :penalty_30min, required: true, label: "Cost of a patient waiting 30 minutes" %>
          <%= f.input :penalty_60min, required: true, label: "Cost of a patient waiting 60 minutes" %>
          <%= f.input :penalty_90min, required: true, label: "Cost of a patient waiting 90 minutes or more" %>
          <%= f.input :penalty_eod_unseen, required: true, label: "Cost of a patient not getting seen by closing" %>
          <%= f.input :penalty_turbo, required: true, label: "Cost of overworking physician by 1 patient" %>
          <%= f.input :penalty_slack, required: true, label: "Physician Hourly" %>
          <%= f.hidden_field :oren_shift, required: true %>

      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
