<% if @location_plan -%>
  <% title = "Schedule for #{schedule_date_span(@schedule)}:  #{@location_plan.name}" -%>
<% elsif @zone -%>
  <% title = "Schedule for #{schedule_date_span(@schedule)}:  #{@zone.name}" -%>
<% else -%>
  <% title = "Schedule for #{schedule_date_span(@schedule)}" -%>
<% end -%>
<%provide(:title, title)%>

<h1>
  <%= link_to current_page?(@schedule) ? '/' : @schedule do %>
    <span class="glyphicon glyphicon-share-alt icon-flipped"></span>
  <% end -%>
  <%= title %>
  <small> <%= @schedule.state.to_s.humanize %></small>
</h1>

<% if @schedule.location_plans.complete.count < @schedule.location_plans.count -%>
  <div class="alert alert-info" role="alert">
    Location plan optimization status:
    <%= @schedule.location_plans.complete.count %> of
    <%= @schedule.location_plans.count %> complete
  </div>
<% end -%>

<% render '/shared/optimizer_status', object: @schedule %>
