<% if @location_plan -%>
  <% title = "Schedule for #{schedule_date_span(@schedule)}:  #{@location_plan.name}" -%>
<% elsif @zone -%>
  <% title = "Schedule for #{schedule_date_span(@schedule)}:  #{@zone.name}" -%>
<% else -%>
  <% title = "Schedule for #{schedule_date_span(@schedule)}" -%>
<% end -%>
<%provide(:title, title)%>

<h1>
  <%= link_to current_page?(@schedule) ? '/' : @schedule do %>
    <span class="glyphicon glyphicon-share-alt icon-flipped"></span>
  <% end -%>
  <%= title %>
  <small> <%= @schedule.state.to_s.humanize %></small>
</h1>

<% unless @schedule.complete? -%>
  <% jid = @schedule.optimizer_job_id -%>
  <div class="alert alert-info" role="alert">
    Status: <%= Sidekiq::Status::status(jid).to_s.humanize %> - <%= Sidekiq::Status::message jid %>
    <%# Sidekiq::Status::at jid %>
    <%= Sidekiq::Status::pct_complete(jid).to_f.round(1) %>%
    <%# Sidekiq::Status::total %>
  </div>
<% end -%>
