<% heading ||= false %>
<% can = policy(schedule) %>
<div class="panel panel-default">
  <% if heading -%>
    <div class="panel-heading">
      <a href="<%= schedule_path(schedule) %>">
        <h3 class="panel-title">
          <%= schedule_date_span(schedule) %>

          <div class="pull-right">
            <span class="label label-default"><%= schedule.state.to_s.humanize %></span>
          </div>
        </h3>
      </a>
    </div>
  <% end -%>
  <div class="panel-body">
    <div class="row">

      <div class="col-sm-1">
        <h5>State: </h5>
      </div>
      <div class="col-sm-8">
        <ul class="chevronbar">
          <li class="first">
            <span>Draft</span>
          </li>

          <% unless schedule.draft? -%>
            <li class="unapproved">
              <span>Unapproved: <%= schedule.location_plans.pending.count %></span>
            </li>
            <li class="manager_approved">
              <span>Manager Approved: <%= schedule.location_plans.manager_approved.count %></span>
            </li>
            <li class="gm_approved">
              <span>GM Approved: <%= schedule.location_plans.gm_approved.count %></span>
            </li>
            <li>
              <span>Locked</span>
            </li>
          <% end -%>
        </ul>
      </div>

      <div class="col-sm-3">
        <div class="pull-right">

          <% if schedule.draft? && can.request_approvals? -%>
            <%= link_to request_approvals_schedule_path(schedule), class: 'btn btn-primary' do %>
              Request approvals
              <span class="glyphicon glyphicon-chevron-right"></span>
            <% end %>
          <% end -%>

          <% if schedule.active? -%>
            <% if can.update? -%>
              <%= link_to schedule_path(schedule, schedule: {state: 'draft'}), method: :patch,
                          class: 'btn btn-default' do %>
                <span class="glyphicon glyphicon-chevron-left"></span>
                Return to Draft
              <% end %>
              <% if LocationPlan.collective_state(schedule.location_plans) == 'gm_approved' -%>
                <%= link_to schedule_path(schedule, schedule: {state: 'locked'}), method: :patch,
                            class: 'btn btn-primary' do %>
                  Lock
                  <span class="glyphicon glyphicon-chevron-right"></span>
                <% end %>
              <% end -%>
            <% end -%>
            <% if current_user.admin? -%>
              <%#= link_to "Admin Force Approve entire zone", change_state_location_plans_path(location_plan_ids:
                @location_plans.map(&:to_param), state: 'gm_approved'), method: :post, class: 'btn btn-warning' %>
            <% end -%>
          <% end -%>

          <% if schedule.locked? -%>
            <%= link_to schedule_path(schedule, schedule: {state: 'active'}), method: :patch,
                        class: 'btn btn-default' do %>
              <span class="glyphicon glyphicon-chevron-left"></span>
              Un-lock
            <% end %>
          <% end -%>

          <% if can.edit? -%>
            <a href="<%= url_for edit_schedule_path(schedule) %>" class="btn btn-default">
              <span class="glyphicon glyphicon-cog"></span> Edit
            </a>
          <% end -%>
        </div>
      </div>
    </div>

    <div class="clearfix"><br></div>

    <div class="row">
      <div class="col-sm-1">
        <h5>Sync: </h5>
      </div>
      <div class="col-sm-9">
        <ul class="chevronbar">
          <li class="first">
            <span>Not synced: <%= schedule.location_plans.unsynced.count %></span>
          </li>
          <li class="dirty">
            <span>Dirty: <%= schedule.location_plans.dirty.count %></span>
          </li>
          <li class="synced">
            <span>Synced: <%= schedule.location_plans.synced.count %></span>
          </li>
        </ul>
      </div>

      <div class="col-sm-2">
        <div class="pull-right">
          <% if policy(schedule).push? -%>
            <%= link_to pushes_path(schedule_id: schedule.to_param), class: 'btn btn-default' do %>
              <span class="glyphicon glyphicon-cloud-upload"></span>
              Sync with When I Work
            <% end %>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
  <% if heading -%>
    <div class="panel-footer">
      <% unless schedule.complete? -%>
        <div>
          <% jid = schedule.optimizer_job_id -%>
          Optimization Status: <%= Sidekiq::Status::status(jid).to_s.humanize %> - <%= Sidekiq::Status::message jid %>
        </div>
      <% end -%>
      <small>Generated <%= l schedule.created_at %></small>
      <div class="pull-right">
        <a href="<%= url_for edit_schedule_path(schedule) %>">
          <span class="glyphicon glyphicon-cog"></span> edit
        </a>
      </div>
    </div>
  <% end -%>
</div>
