<%provide(:title, 'Edit Schedule')%>

<h1>Editing schedule</h1>

<% if @schedule.any_updates? -%>
<div class="alert alert-danger">
	<ul>
		<% @updates.each do |k,v| -%>
			<% if @updates[k] -%>
				<li> <%= k.capitalize %> data has been updated since this schedule was generated</li>
			<% end -%>
		<% end -%>
	</ul>
</div>
<% end -%>


<%= render 'form' %>

<br>

<%= link_to 'Show', @schedule %> |
<%= link_to 'Destroy', @schedule, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', schedules_path %>
