<h1>Schedules</h1>

<% @schedules.each do |schedule| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="<%= schedule_location_plans_path(schedule) %>">
        <h3 class="panel-title">
          <%= schedule_date_span(schedule) %>

          <div class="pull-right">
            <span class="label label-default"><%= schedule.state.to_s.humanize %></span>
          </div>
        </h3>
      </a>
    </div>
    <div class="panel-body">
      <% @zones.each do |zone| %>
        <div class="row">
          <div class="col-sm-4">
            <h5><%= link_to zone.name, schedule_location_plans_path(schedule, zone_id: zone.id) %></h5>
            <span class="bg-danger">(pending approval)</span>
          </div>
          <div class="col-sm-2 text-center bg-warning">
            <h4>200 (B+)</h4>
            Overall
          </div>
          <div class="col-sm-2 text-center bg-warning">
            <h4>200 (B+)</h4>
            Physician Sat
          </div>
          <div class="col-sm-2 text-center bg-warning">
            <h4>180 (A)</h4>
            Patient Sat
          </div>
          <div class="col-sm-2 text-center bg-warning">
            <h4>$15k (B)</h4>
            Savings
          </div>
        </div>
      <% end %>
    </div>
    <div class="panel-footer">
      <small>Generated <%= l schedule.created_at %></small>
      <div class="pull-right">
        <a href="<%= url_for edit_schedule_path(schedule) %>">
          <span class="glyphicon glyphicon-cog"></span> edit
        </a>
      </div>
    </div>
  </div>
<% end %>

<% if policy(Schedule).new? -%>
  <%= link_to 'New Schedule', new_schedule_path %>
<% end -%>
