<h1>Schedules</h1>

<% @schedules.each do |schedule| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="<%= schedule_path(schedule) %>">
        <h3 class="panel-title">
          <%= l schedule.starts_on %> - <%= l schedule.ends_on %>
          
          <div class="pull-right">
            <span class="label label-default"><%= schedule.state.to_s.humanize %></span>
          </div>
        </h3>
      </a>
    </div>
    <div class="panel-body">
      <% Zone.ordered.each do |zone| %>
        <div class="row">
          <div class="col-sm-4">
            <h5><%= zone.name %></h5>
            (pending approval)
          </div>
          <div class="col-sm-2 text-center">
            <h4>200 (B+)</h4>
            Overall
          </div>
          <div class="col-sm-2 text-center">
            <h4>200 (B+)</h4>
            Physician Sat
          </div>
          <div class="col-sm-2 text-center">
            <h4>180 (A)</h4>
            Patient Sat
          </div>
          <div class="col-sm-2 text-center">
            <h4>$15k (B)</h4>
            Savings
          </div>
        </div>
      <% end %>
    </div>
    <div class="panel-footer">
      <small>Generated <%= l schedule.created_at %></small>
      <div class="pull-right">
        <a href="<%= url_for edit_schedule_path(schedule) %>">
          <span class="glyphicon glyphicon-cog"></span> edit
        </a>
      </div>
    </div>
  </div>
<% end %>

<%= link_to 'New Schedule', new_schedule_path %>
