<%= render 'header' %>

<%= render @schedule %>

<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-9">
    <%= render 'grades/header' %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3">
    <h3>Entire Schedule</h3>
  </div>
  <div class="col-sm-9">
    <div class="row">
       <% if @schedule.complete? -%>
        <div class="col-sm-4 text-center">
          <h4><%= hour_points(@schedule) %> <small> hours</small></h4>
        </div>
        <div class="col-sm-2 text-center">
          <h4><%= @schedule.letters["patient_sat"] %> <small>(<%= patient_sat_points(@schedule) %> )</small></h4>
          <h5><%#= schedule %><small> minutes of wait time</small></h5>
        </div>
        <div class="col-sm-2 text-center">
          <h4><%= @schedule.letters["md_sat"] %> <small>(<%= md_sat_points(@schedule) %> )</small></h4>
          <h5><span data-bind="text: $root.work_rate "></span><small> pats per hr</small></h5>
        </div>
        <div class="col-sm-2 text-center">
          <h4><%= @schedule.letters["cost"] %> <small>(<%= cost_points(@schedule) %> )</small></h4>
        </div>
        <div class="col-sm-2 text-center">
          <h4><%= @schedule.letters["total"] %> <small>(<%= total_points(@schedule) %> )</small></h4>
        </div>
      <% end -%>
    </div>
  </div>
</div>

<% @zones.each do |zone| %>

  <hr>

  <div class="row">
    <div class="col-sm-3">
      <h3><%= link_to zone.name, schedule_location_plans_path(@schedule, zone_id: zone.id) %></h3>
      <% state = LocationPlan.collective_state(LocationPlan.for_zone(zone)) %>
      <%= collective_state_label(state) %>
    </div>
    <div class="col-sm-9">
      <div class="row">
        <% if @schedule.complete? -%>
          <div class="col-sm-4 text-center">
            <h4><%= hour_points(@schedule, zone) %> <small> hours</small></h4>
          </div>
          <div class="col-sm-2 text-center">
            <h4><%= @schedule.letters(zone)["patient_sat"] %> <small>(<%= patient_sat_points(@schedule, zone) %> )</small></h4>
            <h5><span data-bind="text: $root.total_wait "></span><small> minutes of wait time</small></h5>
          </div>
          <div class="col-sm-2 text-center">
            <h4><%= @schedule.letters(zone)["md_sat"] %> <small>(<%= md_sat_points(@schedule, zone) %> )</small></h4>
          </div>
          <div class="col-sm-2 text-center">
            <h4><%= @schedule.letters(zone)["cost"] %> <small>(<%= cost_points(@schedule, zone) %> )</small></h4>
          </div>
          <div class="col-sm-2 text-center">
            <h4><%= @schedule.letters(zone)["total"] %> <small>(<%= total_points(@schedule, zone) %> )</small></h4>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
<% end %>