<%= render 'header' %>

<%= render @schedule %>

<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-9">
    <%= render 'grades/header' %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-3">
    <h3>Entire Schedule</h3>
  </div>
  <div class="col-sm-9">
    <% if @schedule.lps_complete? -%>
      <%= render 'grades/analysis', analysis: @schedule.analysis %>
    <% end -%>
  </div>
</div>

<% zones_for_picker.each do |zone| %>

  <hr>

  <div class="row">
    <div class="col-sm-3">
      <h3><%= link_to zone.name, schedule_location_plans_path(@schedule, zone_id: zone.id) %></h3>
      <% state = LocationPlan.collective_state(LocationPlan.for_zone(zone)) %>
      <%= collective_state_label(state) %>
    </div>
    <div class="col-sm-9">
      <% if @schedule.zone_complete?(zone) -%>
        <%= render 'grades/analysis', analysis: @schedule.analysis(zone) %>
      <% end -%>
    </div>
  </div>
<% end %>
