<h1>Shift Schedule for <%= schedule_date_span(@schedule) %></h1>

<div class="pull-right">
  <%= @schedule.state.to_s.humanize %>
</div>

<div class="row">
  <ul id="zone-tabs" class="nav nav-pills">
    <% @zones.each do |zone| %>
      <li class="<%= 'active' if zone.id == @zone.id %>"><a href="<%= schedule_path(@schedule, zone_id: zone.id) %>"><%= zone.name %></a></li>
    <% end %>
  </ul>
</div>

<br><br>

<% @zone.locations.each do |location| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="col-sm-4">
        <div class="row">
          <h3><%= location.name %></h3>
        </div>
        <div class="row">
          <p class="bg-danger">Life Cycle 3 (650 suggested hrs)</p>
        </div>
        <div class="row">
          <small><%= location.rooms %> rooms &bull; Max <%= location.max_mds %> MDs</small>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="bg-danger">Optimized Schedule <div class="pull-right">Approved</div></div>

        </div>
        <div class="row">
          <div class="col-sm-4 bg-warning">
            <h4>712 MD hours</h4>
          </div>
          <div class="col-sm-2 text-center bg-warning">
            <h4>200 (B+)</h4>
            Overall
          </div>
          <div class="col-sm-2 text-center bg-warning">
            <h4>200 (B+)</h4>
            Physician Sat
          </div>
          <div class="col-sm-2 text-center bg-warning">
            <h4>180 (A)</h4>
            Patient Sat
          </div>
          <div class="col-sm-2 text-center bg-warning">
            <h4>$15k (B)</h4>
            Savings
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
