<h1>Heatmap for <%= @heatmap.location.name %>
  <%- if @heatmap.updated_at %>
    <small class="pull-right"> last updated at: <%= @heatmap.updated_at %> </small>
  <%- end %>
</h1>

<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
      	<th>Time</th>
      <% @days.each do |day_name| %>
      	<th><%= day_name %></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% @times.each do |time| %>
      <tr>
        <td> <%= time %> </td>
        <% @days.each do |day| %>
  	      <td nowrap><%= @heatmap.get_days[day][time].round(4) %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>