<%provide(:title, "Heatmap for #{@heatmap.location.name}")%>

<h1>Heatmap for <%= @heatmap.location.name %>
  <%- if @heatmap.updated_at %>
    <small class="pull-right"> last updated at: <%= @heatmap.updated_at.to_formatted_s(:short) %> </small>
  <%- end %>
</h1>

<div class="table-responsive">
  <table class="table table-striped table-hover table-bordered text-right">
    <thead>
    <tr>
      	<th class="text-right">Time</th>
      <% @days.each do |day_name| %>
      	<th class="text-right"><%= day_name %></th>
      <% end %>
    </tr>
    </thead>

    <tbody>
    <% @times.each do |time| %>
      <tr>
        <td class="col-sm-1"> <%= time[0..-4] %> </td>
        <% @days.each do |day| %>
  	      <td nowrap class="col-sm-1"><%= "#{(@heatmap.get_days[day][time]*100).round(4)}%" %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Back', heatmaps_path %>