<% location = location_plan.location %>

<div class="panel-body">
  <div class="col-sm-4">
    <div class="row">
      <h3><%= link_to location.name, location_plan_path(location_plan) %></h3>
    </div>
    <div class="row">
      <p class="bg-danger">Life Cycle 3 (650 suggested hrs)</p>
    </div>
    <div class="row">
      <small><%= location.rooms %> rooms &bull; Max <%= location.max_mds %> MDs</small>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="row">
      <div class="bg-danger">Optimized Schedule
        <div class="pull-right">
          <% if @schedule.active? -%>
            <% prefix = current_user.admin? ? 'Force ' : '' %>
            <% btn_class = current_user.admin? ? 'btn-default ' : 'btn-success' %>

            <% if policy(location_plan).approve? -%>
              <% if location_plan.pending? -%>
                <%= link_to "#{prefix} Approve", approve_location_plans_path(location_plan_ids: [location_plan]), method: :post, class: "btn btn-xs #{btn_class}" %>
              <% else -%>
                <%= link_to "#{prefix} Un-Approve", approve_location_plans_path(location_plan_ids: [location_plan], reject: true), method: :post, class: "btn btn-default btn-xs" %>
              <% end -%>
            <% end -%>
          <% end -%>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-sm-4">
        <h4><%= location_plan.unoptimized_summed_points['hours'].round %> Physician hours</h4>
      </div>
      <div class="col-sm-2 text-center">
        <h4><%= location_plan.unoptimized_summed_points['total'].round %> <span class=" bg-danger">(B+)</span></h4>
        Overall
      </div>
      <div class="col-sm-2 text-center">
        <h4><%= location_plan.unoptimized_summed_points['md_sat'].round %> <span class=" bg-danger">(B+)</span></h4>
        Physician Sat
      </div>
      <div class="col-sm-2 text-center">
        <h4><%= location_plan.unoptimized_summed_points['patient_sat'].round %> <span class=" bg-danger">(A)</span></h4>
        Patient Sat
      </div>
      <div class="col-sm-2 text-center">
        <h4><%= location_plan.unoptimized_summed_points['cost'].round %> <span class=" bg-danger">(B)</span></h4>
        Cost Score
      </div>
    </div>
  </div>
</div>
