<section id='details'>
  <h5>Location Details</h5>

  <article>
  <% if manager = @location_plan.location.manager  %>
    <%= image_tag manager.avatar_url %>
    <header>Manager:</header>

    <%= manager.label %>
  <%- end -%>
  </article>

  <article>
  <% if rm = @location_plan.location.rm  %>
    <%= image_tag rm.avatar_url %>
    <header>Regional Manager:</header>

    <%= rm.label %>
  <%- end -%>
  </article>

  <dl>
    <dt>Visits:</dt>
    <dd>Monthly: <%= @grade.monthly_visits.round 0 %></dd>
    <dd>Daily: <%= @grade.daily_avg.round 0 %></dd>

    <dt>Details:</dt>
    <dd>Size: <%= @grade.rooms %></dd>
    <dd>MaxMDs: <%= @grade.max_mds %></dd>

    <dt>Open/Close:</dt>
    <dd>
      <%= open_close_times_for @grade %>
    </dd>
  </dl>
</section>
