<%provide(:title, "Shift Schedule for #{schedule_date_span(@schedule)}")%>

<h1>Shift Schedule for <%= schedule_date_span(@schedule) %> <small> <%= @schedule.state.to_s.humanize %></small></h1>

<div class="pull-right">
  <% if @location_plan -%>
    <%= action_links @location_plan %>
    <%= state_label @location_plan %>
  <% else -%>

    <% if @schedule.draft? -%>
      <%= link_to 'Request approvals', request_approvals_schedule_path(@schedule), class: 'btn btn-success' %>
    <% end -%>

    <% if @schedule.active? -%>
      <% if policy(@schedule).update? -%>
        <%= link_to 'Return to Draft', schedule_path(@schedule, schedule: {state: 'draft'}), method: :patch, class: 'btn btn-default' %>
        <% if LocationPlan.collective_state(@schedule.location_plans) == 'gm_approved' -%>
          <%= link_to 'Publish', schedule_path(@schedule, schedule: {state: 'published'}), method: :patch, class: 'btn btn-primary' %>
        <% end -%>
      <% end -%>
      <% if current_user.admin? -%>
        <%= link_to "Admin Force Approve entire zone", change_state_location_plans_path(location_plan_ids: @location_plans.map(&:to_param), state: 'gm_approved'), method: :post, class: 'btn btn-warning' %>
      <% end -%>
    <% end -%>

    <% if @schedule.published? -%>
      <%= link_to 'Un-Publish', schedule_path(@schedule, schedule: {state: 'active'}), method: :patch, class: 'btn btn-default' %>
    <% end -%>

  <% end -%>
</div>

<% unless @schedule.complete? -%>
  <% jid = @schedule.optimizer_job_id -%>
  <div class="alert alert-info" role="alert">
    Status: <%= Sidekiq::Status::status(jid).to_s.humanize %> - <%= Sidekiq::Status::message jid %>
    <%# Sidekiq::Status::at jid %>
    <%= Sidekiq::Status::pct_complete(jid).to_f.round(1) %>%
    <%# Sidekiq::Status::total %>
  </div>
<% end -%>

<div class="row">
  <div class="col-sm-3">
    <form accept-charset="UTF-8" action="<%= schedule_location_plans_path(@schedule) %>" method="get">
      <select class="form_autoselector form-control input-lg" id="location_plan_zone_select" name="zone_id">
        <%= options_from_collection_for_select @zones, :id, :name, @zone.id %>
      </select>
    </form>
  </div>

  <% if @location_plan %>
    <div class="col-sm-3">
      <form accept-charset="UTF-8" action="<%= schedule_location_plans_path(@schedule, zone_id: @zone.id) %>" method="get">
        <select class="form_autoselector form-control input-lg" id="location_plan_select" name="location_plan_id">
          <option value="">-- Overview</option>
          <%= options_from_collection_for_select @location_plans, :id, :name, @location_plan.id %>
        </select>
      </form>
    </div>
  <% end -%>
</div>

<br><br>
