<h1>Shift Schedule for <%= schedule_date_span(@schedule) %></h1>

<div class="pull-right">
  <%= @schedule.state.to_s.humanize %>
</div>

<div class="row">
  <ul id="zone-tabs" class="nav nav-pills">
    <% @zones.each do |zone| %>
      <li class="<%= 'active' if zone.id == @zone.id %>"><a href="<%= schedule_location_plans_path(@schedule, zone_id: zone.id) %>"><%= zone.name %></a></li>
    <% end %>
  </ul>
</div>

<% if @location_plan %>
  <div class="row">
    <ul id="location-tabs" class="nav nav-pills">
      <% @zone.locations.each do |location| %>
        <li class="<%= 'active' if location.id == @location_plan.id %>"><a href="<%= location_plan_path(@schedule, zone_id: zone.id) %>"><%= zone.name %></a></li>
      <% end %>
    </ul>
  </div>
<% end %>

<br><br>
