<%= render 'header' %>

<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-9">
    <%= render 'grades/header' %>
  </div>
</div>

<% location_plans_for_picker.each do |location_plan| %>

  <div class="panel panel-default">
    <% location = location_plan.location %>
    <% if location_plan.complete? -%>

      <div class="panel-body">
        <div class="table">
          <div class="col-sm-3">
            <div class="row">
              <h4><%= link_to location.name, location_plan_path(location_plan) %> <span class="pull-right"><%= state_label location_plan, :small %></span>
              <p><small><%= location_plan.chosen_grade.try(:label) -%></small></p></h4>
              <small><%= location_plan.rooms %> rooms &bull; Max <%= location_plan.max_mds %> MDs</small>
            </div>
          </div>
          <div class="col-sm-9">
            <%= render 'show', grade: location_plan.chosen_grade %>
          </div>
        </div>
      </div>

    <% else -%>
      <div class="panel-body">
        <h4><%= location.name %></h4>
        <%= render 'shared/optimizer_status', object: location_plan %>
      </div>
    <% end -%>
  </div>
<% end %>

<%= link_to 'Back', schedule_path(@schedule) %>
