<%= render 'header' %>

<div class="panel panel-default location_plan_container">
  <%= render 'basic', location_plan: @location_plan, show_form: true %>

  <div class="row">
    <div class="col-sm-3">
      <table class="daygrid" data-location-plan-id="<%= @location_plan.id %>">
        <thead>
          <tr>
            <th colspan="7" class="text-center"><%= @schedule.starts_on.strftime("%B %Y") %></th>
          </tr>
          <tr>
            <td>Su</td>
            <td>Mo</td>
            <td>Tu</td>
            <td>We</td>
            <td>Th</td>
            <td>Fr</td>
            <td>Sa</td>
          </tr>
        </thead>
        <tbody class="text-center">
          <% schedule_daygrid(@schedule).each do |week| -%>
            <tr>
              <% week.each do |date| -%>
                <td style="background-color: hsl<%= date ? color_for_score(@location_plan.chosen_grade.points[date.to_s]['total']) : '(0,0%,100%)' %>">
                  <%= link_to(date.day, '#', data: {date: date.to_s}) if date %>
                </td>
              <% end -%>
            </tr>
          <% end -%>
        </tbody>
      </table>
    </div>
    <div class="col-sm-8 hidden" id="coverage_view_load">
      <img src="<%= image_path('load.gif') %>" alt="Loading">
    </div>
    <div class="col-sm-8" id="coverage_view">
      <i>Select a date to view details</i>
    </div>
  </div>

  <div id="coverage_hourly">

  </div>
</div>
