<% location = @location_plan.location %>

<%= render 'header' %>

<div class="location_plan_container">

  <div class="row">
    <p class="bg-danger">Life Cycle 3 (650 suggested hrs)</p>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <% if policy(@location_plan).update? -%>
        <%= simple_form_for @location_plan, wrapper: :horizontal_form,html: {class: 'form-inline'} do |f| %>
          <%= f.association :chosen_grade, collection: @location_plan.grades.ordered, label_method: :label, label: false, include_blank: false %>
          <% unless policy(@location_plan.chosen_grade).update? -%>
            <span data-toggle="tooltip" title="You can only edit your own coverage solution.  Use Copy & Edit to make your own copy">
              (un-editable)
              <span class="glyphicon glyphicon-question-sign"></span>
            </span>
          <% end -%>
        <% end -%>
      <% else -%>
        <h4><%= @location_plan.chosen_grade.label %>
          <small>
            <span data-toggle="tooltip" title="The coverage is now GM approved and can no longer be edited">
              (un-editable)
              <span class="glyphicon glyphicon-question-sign"></span>
            </span>
          </small>
        </h4>
      <% end -%>
    </div>
    <div class="pull-right">
      <% if policy(@location_plan).update? -%>
        <%= simple_form_for Grade.new  do |f| %>
          <%= hidden_field_tag :location_plan_id, @location_plan.id %>
          <%= f.submit 'Copy & edit', class: 'btn btn-default' %>
        <% end -%>
      <% end -%>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-md-3">
      <table class="daygrid" data-chosen-grade-id="<%= @location_plan.chosen_grade.id %>">
        <thead>
          <tr>
            <th colspan="7" class="text-center"><%= @schedule.starts_on.strftime("%B %Y") %></th>
          </tr>
          <tr>
            <td>Su</td>
            <td>Mo</td>
            <td>Tu</td>
            <td>We</td>
            <td>Th</td>
            <td>Fr</td>
            <td>Sa</td>
          </tr>
        </thead>
        <tbody class="text-center">
          <% schedule_daygrid(@schedule).each do |week| -%>
            <tr>
              <% week.each do |date| -%>
                <td style="background-color: hsl<%= date ? color_for_score(@location_plan.chosen_grade.points[date.to_s]['total']) : '(0,0%,100%)' %>">
                  <%= link_to(date.day, '#', data: {date: date.to_s}) if date %>
                </td>
              <% end -%>
            </tr>
          <% end -%>
        </tbody>
      </table>
    </div>

    <div class="col-sm-8 col-sm-offset-1">
      <%= render 'grades/overview' %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 hidden" id="coverage_view_load">
      <img src="<%= image_path('load.gif') %>" alt="Loading">
    </div>
    <div class="col-sm-12" id="coverage_view">
      <%= render 'grades/show' %>
    </div>
  </div>

  <div id="coverage_hourly">

  </div>
</div>
