<% location = @location_plan.location %>

<%= render 'header' %>

<div class="location_plan_container">

  <div class="row">
    <p class="bg-danger">Life Cycle 3 (650 suggested hrs)</p>
  </div>

  <%= simple_form_for @location_plan, wrapper: :horizontal_form,html: {class: 'form-inline'} do |f| %>
    <div class="row">
      <div class="col-sm-8">
        <%= f.association :chosen_grade, collection: @location_plan.grades.ordered, label_method: :label, label: false, include_blank: false %>
      </div>
      <div class="pull-right">
        <button class="btn btn-default" name="copy_grade">Copy &amp; edit</button>
      </div>
    </div>
  <% end -%>

  <br>

  <div class="row">
    <div class="col-md-3">
      <table class="daygrid" data-location-plan-id="<%= @location_plan.id %>">
        <thead>
          <tr>
            <th colspan="7" class="text-center"><%= @schedule.starts_on.strftime("%B %Y") %></th>
          </tr>
          <tr>
            <td>Su</td>
            <td>Mo</td>
            <td>Tu</td>
            <td>We</td>
            <td>Th</td>
            <td>Fr</td>
            <td>Sa</td>
          </tr>
        </thead>
        <tbody class="text-center">
          <% schedule_daygrid(@schedule).each do |week| -%>
            <tr>
              <% week.each do |date| -%>
                <td style="background-color: hsl<%= date ? color_for_score(@location_plan.chosen_grade.points[date.to_s]['total']) : '(0,0%,100%)' %>">
                  <%= link_to(date.day, '#', data: {date: date.to_s}) if date %>
                </td>
              <% end -%>
            </tr>
          <% end -%>
        </tbody>
      </table>
    </div>

    <div class="col-sm-8 col-sm-offset-1">
      <%= render 'grades/overview' %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 hidden" id="coverage_view_load">
      <img src="<%= image_path('load.gif') %>" alt="Loading">
    </div>
    <div class="col-sm-12" id="coverage_view">
      <%= render 'grades/show' %>
    </div>
  </div>

  <div id="coverage_hourly">

  </div>
</div>
