<% location = @location_plan.location %>

<%= render 'header' %>

<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-9">
    <%= render 'grades/header' %>
  </div>
</div>

<div class="row">
  <% @location_plan.grades.ordered.each do |grade| -%>
    <div class="col-sm-3">
      <%= grade.label %>

      <div>
        <% if grade == @location_plan.chosen_grade -%>
          <%= link_to 'Chosen', '#', class: 'btn btn-default', disabled: 'disabled' %>
        <% else -%>
          <% if policy(@location_plan).update? -%>
            <%= link_to 'Choose', location_plan_path(@location_plan, location_plan: {chosen_grade_id: grade.id}), method: :patch, class: 'btn btn-info' %>
          <% else -%>
            Locked

          <% end -%>
        <% end -%>
        <%= link_to 'View', grade, class: 'btn btn-success' %>
        <% if policy(grade).destroy? -%>
          <%= link_to 'Delete', grade, method: :delete, class: 'btn btn-danger', confirm: 'Are you sure?' %>
        <% end -%>
      </div>

    </div>

    <div class="col-sm-9">
      <%= render 'grades/analysis', analysis: grade.analysis %>
    </div>

  <% end -%>
</div>

<div class="row">
  <% new_grade = @location_plan.grades.build %>
  <% if policy(new_grade).create? -%>
    <%= simple_form_for new_grade, wrapper: :horizontal_form, html: {class: 'form-inline'} do |f| %>
      <%= f.input :source_grade_id, collection: @location_plan.grades.ordered, label_method: :label, label: false, include_blank: false %>

      <%= f.submit 'Copy', class: 'btn btn-primary' %>
    <% end -%>
  <% else -%>
      <%- if policy(@schedule).state_draft?
            msg = "You must first request approvals before editing"
          elsif policy(@schedule).state_locked?
            msg = "You must first un-lock the schedule before editing"
          else
            msg = "The coverage is now RM approved and can no longer be edited"
          end -%>
  <% end -%>
</div>

<hr>

<%= render 'details' %>

<hr>
<h5>Comments & Activity</h5>
<%= render 'comments/list' %>
