<%= simple_form_for(@patient_volume_forecast, html: { class: 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors @patient_volume_forecast %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-sm-4">


        <%= f.input :start_date do %>
          <div class="input-group date" data-behaviour="weekstartpicker"} >
            <%= f.input_field :start_date, required: true, as: :string, class: 'form-control' %>
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        <% end %>

        <%= f.input :end_date do %>
          <div class="input-group date" data-behaviour="weekstoppicker"} >
            <%= f.input_field :end_date, required: true, as: :string, class: 'form-control' %>
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
          </div>
        <% end %>


		    <% @locations.each do |l| %>
				    <%= f.label("volume_by_location[#{l.report_server_id}]", l.name) %> <br />
				    <%= f.input_field "volume_by_location[#{l.report_server_id}]", as: :string, class: 'form-control',
                value: @patient_volume_forecast.volume_by_location[l.report_server_id.to_s] %>
            <br />
				<% end %>

      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
</br>
