<h3><%= l @date, format: :with_dow %> <small> (Open <%= time_of_day @location_plan.open_times[@date.wday] %> - <%= time_of_day @location_plan.close_times[@date.wday] %>)</small></h3>

<div>
  <% @location_plan.shifts(@grade, @date).each do |start, finish| -%>
    <%= time_of_day start %> - <%= time_of_day finish %><br>
  <% end -%>
</div>

<div> <%= @grade.points[@date_s].inspect %> </div>
