<h3><%= l @date, format: :with_dow %> <small> (Open <%= time_of_day @location_plan.open_times[@date.wday] %> - <%= time_of_day @location_plan.close_times[@date.wday] %>)</small></h3>

<% if @grade.optimizer? -%>
  <div>
    <% @location_plan.shifts(@grade, @date).each do |start, finish| -%>
      <%= time_of_day start %> - <%= time_of_day finish %><br>
    <% end -%>
  </div>

<% else -%>
  <table>
    <tbody data-bind="foreach: shifts">
    <tr>
      <td><select data-bind="options: $root.availableTimes, value: starts, optionsText: 'formatted', optionsValue: 'num'"></select></td>
      <td>&mdash;</td>
      <td><select data-bind="options: $root.availableTimes, value: ends, optionsText: 'formatted', optionsValue: 'num'"></select></td>

      <td><a href="#" data-bind="click: $root.removeShift">Remove</a></td>

    </tr>
    </tbody>
  </table>

  <h5 data-bind="visible: totalHours() > 0">
    Total hours: <span data-bind="text: totalHours()"></span>
  </h5>

  <button data-bind="click: addShift">Add Shift</button>

  <button data-bind="click: save">Save and Recalculate</button>
<% end -%>


<div> <%= @grade.points[@date_s].inspect %> </div>
