<%= simple_form_for(@location, html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.association :zone, include_blank: false %>

    <% Location::DAYS.each do |day| -%>
      <div class="row form-group">
        <div class="col-sm-1">
          <label><%= day.humanize %></label>
        </div>
        <% ['open', 'close'].each do |tod| -%>
          <div class="col-sm-2">
            <%= f.input_field "#{day}_#{tod}", as: :select, collection: hours_options, include_blank: false, class: 'form-control select2' %>
          </div>
        <% end -%>
      </div>
    <% end -%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
