<%= simple_form_for(@location, html: { class: 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors @location %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-sm-4">
        <%= f.input :name %>

        <%= f.association :zone, include_blank: false %>

        <%= f.input :rooms %>

        <%= f.input :max_mds, label: "Maximum physicians" %>

        <%= f.input :report_server_id, label: "Report server ID" %>

        <%#= f.input :wiw_id, label: "When I Work ID", collection: Wiw::Location.find_all_collection %>
      </div>
    </div>

    <fieldset>
      <legend>Open/Close times</legend>
      <% Location::DAYS.each do |day| -%>
        <div class="row form-group">
          <div class="col-sm-1">
            <label><%= day.humanize %></label>
          </div>
          <% ['open', 'close'].each do |tod| -%>
            <div class="col-sm-2">
              <%= f.input_field "#{day}_#{tod}", as: :select, collection: hours_options, include_blank: false, class: 'form-control chosen-select' %>
            </div>
            <% if @location.errors.include? "#{day}_#{tod}".to_sym %>
              <div class="col-sm-4 has-error"><%= f.error "#{day}_#{tod}" %></div>
            <% end -%>
          <% end -%>
        </div>
      <% end -%>
    </fieldset>

      <div class="row">
        <h2> Physician work rates </h2>
        <h4> Consider acuity of cases at this location and the number of available rooms  </h4>
      </div>

      <%= f.simple_fields_for(:speeds) do |builder| %>
        <%= render 'speed_fields', f: builder %>
      <% end %>
      <%= link_to_add_speed_fields "Add a new work rate row", f %>
    </br></br>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
