<%= simple_form_for(@location, html: { class: 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors @location %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-sm-4">
        <%= f.input :name %>

        <%= f.association :zone, include_blank: false %>

        <%= f.input :rooms %>

        <%= f.input :max_mds, label: "Maximum physicians" %>

        <%= f.input :report_server_id %>
      </div>
    </div>

    <% Location::DAYS.each do |day| -%>
      <div class="row form-group">
        <div class="col-sm-1">
          <label><%= day.humanize %></label>
        </div>
        <% ['open', 'close'].each do |tod| -%>
          <div class="col-sm-2">
            <%= f.input_field "#{day}_#{tod}", as: :select, collection: hours_options, include_blank: false, class: 'form-control chosen-select' %>
          </div>
        <% end -%>
      </div>
    <% end -%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
