<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>" >
        <img class="pull-left" alt="StaffCare" src="<%= image_path('logo.png') %>">
        <span class="brand-name"> StaffCare </span>
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <%= render 'layouts/navigation_links' %>
    </div>
  </div>
</nav>

<nav id='breadcrumbs'>
  <%= link_to_unless( request.env['PATH_INFO'] == '/', 'Dashboard', root_path) %> <span>&gt;</span>

<% if current_user.admin? -%>
  <%- if (request.env['PATH_INFO'].include?('schedules') || @schedule) && policy(Schedule).index? -%>
    <%= link_to 'Schedules', schedules_path %> <span>&gt;</span>
  <%- end -%>
<%- end -%>

<%- if (request.env['PATH_INFO'].include?('schedules/')  || @schedule) && policy(Schedule).index? -%>
  <%= link_to schedule_date_span(@schedule), schedule_path(@schedule) %> <span>&gt;</span>
<%- end -%>

<% if @zone %>
  <%= link_to @zone.name, schedule_location_plans_path(@schedule, zone_id: @zone.id) %> <span>&gt;</span>
<%- end -%>

<% if @location_plan %>
  <%= link_to @location_plan.name, location_plan_path(@location_plan) %> <span>&gt;</span>
<%- end -%>

<% if @grade %>
  Grade Page
<%- end -%>
</nav>

