<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= full_title yield(:title) %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "StaffCare" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="/highcharts/highcharts.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body id="<%= params[:controller].parameterize %>_controller">
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div class="container">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </main>
    <%=  render 'layouts/time_out' if user_signed_in? %>
  </body>
</html>
